// #region [global]
html {
  font-family: "Roboto", sans-serif;
  color: var(--v-secondary-base);
}
body {
  background-color: var(--v-background-base);
  padding: 3rem;
  & #app {
    color: var(--v-secondary-base);
    background-color: transparent;
  }
  #nav {
    a {
      color: var(--v-secondary-base);
      text-decoration: none;
      text-transform: uppercase;
    }
    .router-link-exact-active {
      color: var(--v-primary-base);
    }
  }
}
// #endregion
